@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


* {
    text-decoration: none;
    box-sizing: border-box; 
    margin: 0%;
    padding: 0%;
}
img{
    max-width: 100%;
    height: auto;
}


/* área total do corpo */

body{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family:"roboto", sans-serif;
    background-color: #ffffff;
    width: 100%;  
    height: 100%; 
}

/* área total do sub-corpo */

.interface{
    display: flex;
    flex-wrap: wrap;
    width: 1450px;
    background-color: #ffffff;
    box-shadow:0px 0px 5px 2px rgba(5, 5, 5, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: 5px;
}

/* estrutura main a esquerda*/

.corpo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1450px;
}


.eventos{
    display: flex;
    justify-content: center;
    width: 750px;
    height: 99%;
    background: url(../imagens/_sepulcro.jpg) no-repeat;
}

hgroup{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#774D0B;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "EB Garamond", serif;
    font-size: 35px;
    margin: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #774D0B;
}

h4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #886d1a;
    font-family: "EB Garamond", serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
    padding-left: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #886d1a;
}

#img_semana{
    width: 550px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin: 20px;
    box-shadow:0px 0px 5px 2px rgba(5, 5, 5, 0.5);
    border:1px transparent black;
    border-radius: 5px;
}

#img_semana img{
    width: 90%;
    height: 100%;
}

h2{
    font-family:"roboto", sans-serif;
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    color: #DDB53C;
    margin-left: 20px;
    margin-top: 15px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #DDB53C;
}

#ouca{
    font-family:"roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 20px;
    margin-top: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

#img_mes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 300px;
    background-color: #ffffff;
    margin: 20px;
    box-shadow:0px 0px 5px 2px rgba(5, 5, 5, 0.5);
    border:1px transparent black;
    border-radius: 5px;
}
#img_mes img{
    width: 90%;
    height: 100%;
}

/* audio e descrição de quem */

.dados{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    gap: 10px;
    padding-left: 20px;
    margin-top: 30px;
}

.img_audio{
    display: flex;
    align-items: center;
    height: 100%;
}

#play{
    display: flex;
}

.quem{
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-family: roboto, serif;
    font-size: 15px;
    font-weight: 800;
    width: 220px;
    margin-left: 70px;
}

#mais{
    display: flex;
    font-family:"roboto", sans-serif;
    font-size: 10px;
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 2px;
    padding: 2px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
}

#mais a{
    color: #000000;
}

/* divisão entre os corpos */

.divisao{
    height: 100%;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    margin: 0px,5px,0px,0px;
}

/* estrutura aside a direita */

aside.lateral{
    display: flex;
    width: 620px;
    height: 100%;
    padding-top: 30px;
}

.direita{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* titulo */

.deus{
    display: flex;
    align-items: center;
    width: 550px;
    height: 30px;
}

.deus h2#deus{
    display: flex;
    font-family:"roboto", sans-serif;
    font-size: 24px;
    color: #000000;
    margin-top: -10px;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #000000;
}

/* barras dos destaques */

.irmas{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 20px;
    box-shadow:1px 1px 5px 2px rgba(5, 5, 5, 0.5);  
}

.irmas_a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: red;
}

.jovens{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    box-shadow:1px 1px 5px 2px rgba(5, 5, 5, 0.5);  
    margin-top: 10px;     
}

.jovens_a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: red;
}

.criancas{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    box-shadow:1px 1px 5px 2px rgba(5, 5, 5, 0.5);  
    margin-top: 10px;     
}

.criancas_a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: red;
}

.oracao{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-shadow:1px 1px 5px 2px rgba(5, 5, 5, 0.5);  
    margin-top: 10px;  
}

.oracao_a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: red;
}


/* descrição dentros dos topicos_ barras */

/* circulo de oração - jovens - criaças - oração */

.irmas_b{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.irmas_c{
    width: 250px;
    height: 185px;
    background-color:pink;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 20px;
    border: solid rgb(109, 108, 108);
}

.irmas_c img{
    width: 240px;
    height: 180px;
}

.irmas_b{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.jovens_b{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.jovens_c{
    width: 250px;
    height: 180px;
    background-image: linear-gradient(180deg,#ffffff,#ffffff,rgba(0, 0, 0, 0.5));
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0.5);
}

.jovens_c img{
    width: 240px;
    height: 180px;
}

.criancas_b{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    padding: 5px;
    padding-left: 25px;
    column-gap: 140px;
}

.criancas_c{
    width: 250px;
    height: 180px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.criancas_c img{
    width: 240px;
    height: 180px;
}

.oracao_b{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 200px;
}

 /* papiros com pedidos de oração */

.bloco {
    display: block;
    position: relative;
    width: 290px;
    height: 200px;
  }
  
.bloco img {
    position: absolute;
    width: 290px;
    height: 200px;
  }
  
#texto {
    position: absolute;
    margin: 12%;
    margin-top: 15%;
  }

.bloco2 {
    display: inline-block;
    position: relative;
    width: 290px;
    height: 200px;
  }
  
.bloco2 img {
    position: absolute;
    width: 290px;
    height: 200px;
  }
  
#texto2 {
    position: absolute;
    margin: 12%;
    margin-top: 15%;

  }

#t1{
    font-size: 13px;
    text-transform: uppercase;
}

#t2{
    font-size: 13px;
    text-transform: uppercase;
}

/* botão para realização de formulario de oração */

button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: #f1d686;
    border: transparent;
    margin: 10px;
}

h3#papiro{
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
}



/* fontes para padrão para destaques */

h3#barras{
    font-size: 20px;
    font-weight: 600;
    font-family:"roboto", sans-serif;
    color: #DDB53C;
    margin-left: 20px;
}

h3#dia{
    font-size: 20px;
    font-family:"roboto", sans-serif;
    color: black;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 10%;
}

p#tma{
    font-size: 14px;
    font-family: roboto, serif;
    color: black;
    font-weight: 600;
    margin-bottom: 15px;
}

span#tme{
    font-size: 13px;
    font-family:"roboto", sans-serif;
    color: black;
    font-weight: 500;
}

p#tm{
    font-size: 10px;
    font-family:"roboto", sans-serif;
    color: black;
    font-weight: 500;
}

span#tmaior{
    font-size: 12px;
    font-family:"roboto", sans-serif;
    color: black;
    font-weight: 600;
}

